.content {
    position: relative;
    line-height: 20px;
    height: 1px;
    text-align: center;
    
}

.content p {
    text-align: center;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.Cgoal {
    font-size: 20px;
}

